.slick-hidden {
    display: none;
}
.offer-banner{
    display: none;
}
.woo-products-grid-v2 {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 15px;
    margin-bottom: .5rem;
    margin: 0 auto;
    justify-content: center;
    max-width: 86%;
  }
.woo-product-item-v2 {
    position: relative;
    text-align: center; /* Centrar el contenido */
    border: 1px solid #ddd; /* Bordes para los productos */
    border-radius: 20px;
    height: 25rem !important;
    margin: .1rem;
    transition: transform 0.6s ease-in-out, box-shadow 0.6s, opacity 0.6s; /* Suavizar las transiciones */
}
.product-images-container-v2 {
    position: relative; /* Asegura que los elementos posicionados sean relativos a este contenedor */
}
.woo-product-item-v2:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.woo-product-item-v2 img {
    max-width: 17rem; /* Limitar el tamaño de las imágenes */
    height: 17rem; /* Mantener la relación de aspecto */
    transition: transform 0.6s ease-in-out; /* Suavizar la transición de escala */
}
.slick-slide img {
    display: inline;
  }
.woo-product-item-v2 img:hover{ 
/* transform: scale(1.1); */
cursor: pointer;
}

.new-product-v2{
    display: none;
    position: absolute; 
    top: 1rem; 
    left: 0; 
    z-index: 1;
    background-color: #f2fff6;
    border: 1px solid #058427;
    border-radius: 10px;    
    color: #058427;
    width: auto;
    font-size: 1rem;
}

.etiqueta-liquidacionSinApi-v2{
    display: none;
    position: absolute;
    top: 1rem;
    left: 0;
    background-color: #e4c311; 
    color: #ffffff; 
    padding: 3px;
    z-index: 1;  
    font-size: .9rem;
    font-weight: 700;
    border-radius: 10px;
}
.etiqueta-ofertas-en-vivo-v2{
    display: none;
    position: absolute;
    top: 1rem;
    left: 0;
    background-color: #F7CACA;
    color: red;
    padding: 3px;
    z-index: 1;
    font-size: .9rem;
    font-weight: 700;
    border-radius: 10px;
    width: auto;
}
.etiqueta-oferta-v2{
    display: none;
    position: absolute;
    top: 1rem;
    left: 0;
    background-color: #F7CACA;
    color: red;
    padding: 3px;
    z-index: 1;
    font-size: .9rem;
    font-weight: 700;
    border-radius: 10px;
    width: auto;
}
.woo-product-item-v2:hover .new-product-v2,
.woo-product-item-v2:hover .etiqueta-liquidacionSinApi-v2,
.woo-product-item-v2:hover .etiqueta-ofertas-en-vivo-v2,
.woo-product-item-v2:hover .etiqueta-oferta-v2 {
    display: block;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}
.etiqueta-ofertas-en-vivo-v2::before {
content: '•'; /* El punto */
position: absolute;
left: 0; /* Alineado a la izquierda */
top: -5%; /* Centrar verticalmente */
transform: translateY(-50%); /* Ajustar para centrar */
color: red; /* Color del punto */
animation: pulse 1s infinite; /* Aplica la animación de pulso */
font-size: 2rem;
margin-left: -.2rem;
padding-left: .2rem;
}
@keyframes pulse {
0% {
    transform: scale(1);
    opacity: 1;
}
50% {
    transform: scale(1.2); /* Aumenta el tamaño */
    opacity: 0.7; /* Reduce la opacidad */
}
100% {
    transform: scale(1);
    opacity: 1; /* Vuelve al estado original */
}
}
.product-info-container-v2{
    height: 118px;
}
.add-to-cart-button-v2{
width: 80%;
display: none;
background-color: white !important;
height: 2rem;
right: 0;
position: absolute;
bottom: 0;
border-radius: 10px !important;
font-weight: bold;
font-size: 1rem;
}

.woo-product-item-v2:hover .input-quantity-buytiti-v2,
.woo-product-item-v2:hover .add-to-cart-button-v2,
.woo-product-item-v2:hover .add-to-cart-form-v2 {
    display: flex;
    transition: opacity 0.6s ease-in-out; /* Suavizar la transición de aparición */
    opacity: 1;
    transform: translateY(0);
}
.sku-class-buytiti-v2{
  color: black;
font-size: .8rem;
font-weight: 900;
text-align: center;
}

.input-quantity-buytiti-v2{ 
position: absolute;
left: 0;
bottom: 0;
height: 2rem !important;
border-radius: 10px !important;
max-width: 65px !important;
display: none;
width: 20%;
transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out; /* Suavizar la transición de aparición */
opacity: 0;
}

.stock-quantity-buytitisinapi-v2{ 
background-color: #fde5cb;
border: 1px solid #ff7942;
border-radius: 15px 0 0 15px;
color: coral;
font-size: .6rem;
font-weight: 700;
right: 0;
padding: 0 3px;
width: 5.2rem;
position: absolute;
top: 41%;
display: none;
}

.product-brand-buytiti-v2 {
color: #ff7942 !important;
font-size: .7rem;
font-weight: 900;
letter-spacing: .3px;
text-align: center;
text-transform: uppercase;
}

.product-link-buytiti-v2 {
text-decoration: none !important;
}

.product-title-buytiti-v2 {
color: black !important;
font-size: .8rem;
overflow: hidden ;
font-weight: 600 !important;
height: 2.5rem;
display: inline-grid;
width: 100%;
}

.precio-regular-tachado-v2{
opacity: .8;
font-weight: 600;
color: #777;
}
.sale-price-v2{
font-size: 1.1rem;
color: #ff7942;
font-weight: 700;
background: none;
}
.precio-regular-v2{
font-size: 1.3rem;
font-weight: 700;
color: #ff7942;
}
.product-discount-buytiti-v2{
    background-color: #ffdede;
    color: red;
    font-size: .9rem;
    font-weight: 650;
    border-radius: 10px;;
    margin-left: .5rem;
}

@media screen and (min-width: 201px) and (max-width: 420px) {
.woo-products-grid-v2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Seis columnas para el diseño de cuadrícula */
    gap: 4px; /* Espacio entre productos */
    max-width: 97%;
}
.woo-product-item-v2 {
    height: 18.5rem !important;
    width: auto;
    margin: 0rem 0rem .5rem 0rem;
  }
  .break-on-desktop {
    display: none;
}
  .input-quantity-buytiti-v2{ 
max-width: 60px !important;
opacity: 1;
}
.woo-product-item-v2:hover .input-quantity-buytiti-v2,
.woo-product-item-v2:hover .add-to-cart-button-v2,
.woo-product-item-v2:hover .add-to-cart-form-v2 {
    display: flex;
    transition: opacity 0.6s ease-in-out; /* Suavizar la transición de aparición */
    opacity: 1;
    transform: none;
}
 .add-to-cart-button-v2{
    font-size: 0.7rem;
    color: white !important;
    background-color:#ef7e28 !important;
    transform: none;
    display: block;
}
.woo-product-item-v2 img {
    width: 11.5rem;
    height: 11rem;
}
.product-title-buytiti-v2{
    height: 2.5rem;
    font-size: .75rem;
}
.sale-price-v2{
    font-size: .9rem;
    }
.sku-class-buytiti-v2{
    height: 1rem;
    display: grid;
    font-size: 0.7rem;
    font-weight: 650;
    overflow: hidden;
    display: none;
}
.product-brand-buytiti-v2 {
    margin-top: 0rem;
    height: 1rem;
    display: grid;
    font-size: 0.6rem;
    font-weight: 600;
}
.input-quantity-buytiti-v2 {
   transform: none;
   display: block;
}
.precio-regular-v2{
    font-size: 1.1rem;
    }
    .woo-product-item-v2:hover {
        transform:none;
        box-shadow: none;
    }
}

@media screen and (min-width: 421px) and (max-width: 600px) {
    .woo-products-grid-v2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Seis columnas para el diseño de cuadrícula */
        gap: 4px; /* Espacio entre productos */
        max-width: 97%;
    }
    .woo-product-item-v2 {
        height: 18.5rem !important;
        width: auto;
        margin: 0rem 0rem .5rem 0rem;
      }
      .break-on-desktop {
        display: none;
    }
      .input-quantity-buytiti-v2{ 
    max-width: 60px !important;
    opacity: 1;
    }
    .woo-product-item-v2:hover .input-quantity-buytiti-v2,
    .woo-product-item-v2:hover .add-to-cart-button-v2,
    .woo-product-item-v2:hover .add-to-cart-form-v2 {
        display: flex;
        transition: opacity 0.6s ease-in-out; /* Suavizar la transición de aparición */
        opacity: 1;
        transform: none;
    }
     .add-to-cart-button-v2{
    font-size: 0.7rem;
    color: white !important;
    background-color:#ef7e28 !important;
    transform: none;
    display: block;
    }
    .woo-product-item-v2 img {
        width: 11rem;
        height: 11rem;
    }
    .product-title-buytiti-v2{
        height: 2.5rem;
        font-size: .75rem;
    }
    .sale-price-v2{
        font-size: .9rem;
        }
    .sku-class-buytiti-v2{
        height: 1rem;
        display: grid;
        font-size: 0.7rem;
        font-weight: 650;
        overflow: hidden;
        display: none;
    }
    .product-brand-buytiti-v2 {
        margin-top: 0rem;
        height: 1rem;
        display: grid;
        font-size: 0.6rem;
        font-weight: 600;
    }
    .input-quantity-buytiti-v2 {
       transform: none;
       display: block;
    }
    .precio-regular-v2{
        font-size: 1.1rem;
        }
        .woo-product-item-v2:hover {
            transform:none;
            box-shadow: none;
        }
}

@media screen and (min-width: 601px) and (max-width: 780px) {
.woo-products-grid-v2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Seis columnas para el diseño de cuadrícula */
    gap: 0px; /* Espacio entre productos */
}
.woo-product-item-v2 {
    height: 32.5rem;
    width: 13rem;
    margin-bottom: 1rem;
}
 .input-quantity-buytiti-v2{ 
max-width: 60px !important;
}
 .add-to-cart-button-v2{
font-size: 0.85rem;
}
}@media screen and (min-width: 781px) and (max-width: 1024px) {
.woo-products-grid-v2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Seis columnas para el diseño de cuadrícula */
    gap: 10px; /* Espacio entre productos */
}
.woo-product-item-v2 {
    width: 100%;
}
.product-discount-buytiti-v2{
    font-size: .69rem;
    width: 2rem;
}
}
@media screen and (min-width: 1024px) and (max-width: 1420px) {
.woo-products-grid-v2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Seis columnas para el diseño de cuadrícula */
    gap: 10px; /* Espacio entre productos */
}
.woo-product-item-v2 {
    width: 100%;
}
.add-to-cart-button-v2{
    font-size: 0.78rem;
}
.product-discount-buytiti-v2{
    font-size: .69rem;
    width: 2rem;
}

}
.wishlist_products_counter_number {
    font-size: 20px !important;
    color: orange !important;
}
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-custom img,
a.wishlist_products_counter.top_wishlist-custom img,
span.wishlist_products_counter.top_wishlist-custom img {
    max-height: 2rem !important;
    max-width: 2rem !important;
}
.tinv-header {
    display: none !important;
}
.tinv-wraper.tinv-wishlist {
    position: absolute !important;
    right: 5% !important;
    bottom: 59% !important;
}
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-custom.no-txt {
    width: 21px !important;
}
.tinv-wishlist .product-action .button {
    background-color: #ef7e28 !important;
}
.tinv-wishlist .product-action {
    width: 175px !important;
}
.tinv-wishlist tfoot .tinvwl-to-right {
    float: right !important;
}
.tinv-wishlist tfoot .tinvwl-to-right > * {
    background-color: #ef7e28 !important;
}
.bestseller-sales-v2{
    position: absolute;
    right: 0;
    background-color: #e17f01;
    color: #fff;
    padding: 2px;
    z-index: 1;
    font-size: 0.7rem;
    font-weight: 610;
    border-radius: 0 20px 0 10px;
    top: 0;
}
